header
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

#storeContainer
{
    background-color: green;

    display: flex;
    justify-content: space-around;
}

#sorting
{
    background-color: orange;
    
    display: flex;
    flex-direction: column;

    width: 30%;
    padding: 1em;
}

.sideOptions
{
    background-color: pink;
}

#classContainer
{
    background-color: blue;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    width: 200%;
    
    padding: 1em;
}

.lessonBox
{
    background-color: yellow;
    border-radius: 1em;
    
    width: 270px;
    height: auto;
    padding: 1em;
}

.lessonHead
{
    display: flex;
}