<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School Lessons</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
</head>
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <div id="corners">
                <p>Wallet: ${{calculateTotal}}</p>
                <button id="checkout" v-on:click="showCheckout" v-bind:disabled="cartItemCount===0">
                    {{cartItemCount}}
                    <span class="fa-solid fa-cart-shopping"></span> Checkout
                </button>
            </div>
        </header>
        
        <div id="storeContainer" v-if="!showProduct">
            <div id="sorting">
                <p><strong>Sort By:</strong></p>
                <div id="sortChoice" class="sideOptions">
                    <p>
                        <input type="radio" id="subject" value="subject" v-model="sortBy">
                        <label for="subject">Subject</label>
                    </p>

                    <p>
                        <input type="radio" id="location" value="location" v-model="sortBy">
                        <label for="location">Location</label>
                    </p>
                    
                    <p>
                        <input type="radio" id="price" value="price" v-model="sortBy">
                        <label for="price">Price</label>
                    </p>
                    
                    <p>
                        <input type="radio" id="space" value="space" v-model="sortBy">
                        <label for="space">Availability</label>
                    </p>
                </div>
                <div id="orderChoice" class="sideOptions">
                    <p>
                        <input type="radio" id="ascending" value="asc" v-model="orderBy">
                        <label for="ascending">Ascending</label>
                    </p>
                    
                    <p>
                        <input type="radio" id="descending" value="desc" v-model="orderBy">
                        <label for="descending">Descending</label>
                    </p>
                    
                </div>
            </div>

            <div id="classContainer">
                <div v-for="lesson in reorder" :key="lesson.id">
                    <div class="lessonBox">
                        <div class="lessonHead">
                            <i v-bind:class="lesson.icon"></i>
                            <h3>{{lesson.subject}}</h3>
                        </div>
                        <ul>
                            <li>Location: {{lesson.location}}</li>
                            <li>Price: {{lesson.price}}</li>
                            <li>Space: {{lesson.space}}</li>
                        </ul>
                        <button v-on:click="add_cart(lesson)" v-bind:disabled="!(lesson.space>0)">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>

        <div v-else id="checkoutContainer">
            <h1>Checkout</h1>
            <ul v-for="product in cartShorten">
                <i v-bind:class="product.icon"></i>
                <li>
                    <h3>
                        <i v-bind:class="product.details.icon"></i>
                        {{product.product}} x{{product.details.amount}}
                    </h3>
                    <em>Located at {{product.details.location}}, {{product.details.space}} seats available</em>
                    <br>
                    <em class="pricetag">${{product.details.price}}</em>
                    <br>
                    <button v-on:click="remove_cart(product)">Remove product</button>
                    <button v-on:click="remove_cart(product,true)" v-if="product.details.amount>1">Remove all</button>
                    <hr>
                </li>
            </ul>
            <button v-on:click="empty_cart()">Empty cart</button>
            <h3>Total: <em>${{calculateTotal}}</em></h3>

            <h1>Order Details:</h1>
            <p>
                <strong>First Name:</strong>
                <input v-model.trim="order.firstName" v-on:input="canCheckout"/>
            </p>
            <p>
                <strong>Last Name:</strong>
                <input v-model.trim="order.lastName" v-on:input="canCheckout"/>
            </p>

            <p>
                <strong>Phone Number:</strong>
                <input v-model.number="order.phone" v-on:input="canCheckout"/>
            </p>

            <p>
                <strong>Emirate:</strong>
                <select v-model="order.emirate" v-on:change="canCheckout" class="form-control">
                    <option disabled value="">Emirate</option>
                    <option v-for="(emirate,key) in emirates"
                    v-bind:value="emirate">{{emirate}}</option>
                </select>
            </p>

            <p>
                <strong>Address:</strong>
                <input v-model="order.address" v-on:input="canCheckout"/>
            </p>
            
            <hr>
            <h2>Confirm Details:</h2>
            <p><strong>First Name:</strong> {{order.firstName}}</p>
            <p><strong>Last Name:</strong> {{order.lastName}}</p>
            <p><strong>Phone Number:</strong> {{order.phone}}</p>

            <p><strong>Emirate:</strong> {{order.emirate}}</p>
            <p><strong>Address:</strong> {{order.address}}</p>

            <button v-bind:disabled="!checkoutCheck" v-on:click="submitForm">Submit</button>
        </div>
    </div>

    <script type="text/javascript">
        const webstore=new Vue({
            el:"#app",
            data: 
            {
                sitename: "After School Lessons",
                lessons:
                [
                    {
                        id:1,
                        icon: "fa-solid fa-robot",
                        subject: "Robotics", 
                        location: "Dubai", 
                        price:150,
                        space:5
                    },
                    {
                        id:2,
                        icon:"fa-solid fa-paintbrush",
                        subject: "Art", 
                        location: "Abu Dhabi", 
                        price:50,
                        space:5
                    },
                    {
                        id:3,
                        icon:"fa-solid fa-wallet",
                        subject: "Finance", 
                        location: "Ajman", 
                        price:75,
                        space:5
                    },
                    {
                        id:4,
                        icon:"fa-solid fa-calculator",
                        subject: "Mathematics", 
                        location: "Fujairah", 
                        price:80,
                        space:5
                    },
                    {
                        id:5,
                        icon:"fa-solid fa-atom",
                        subject: "Science Basics", 
                        location: "Sharjah", 
                        price:90,
                        space:5
                    },
                    {
                        id:6,
                        icon:"fa-solid fa-camera",
                        subject: "Photography", 
                        location: "Ras-Al-Kaimah", 
                        price:120,
                        space:5
                    },
                    {
                        id:7,
                        icon: "fa-solid fa-music",
                        subject: "Music", 
                        location: "Umm-Al-Quwain", 
                        price:90,
                        space:5
                    },
                    {
                        id:8,
                        icon:"fa-solid fa-pen",
                        subject: "English", 
                        location: "Fujairah", 
                        price:50,
                        space:5
                    },
                    {
                        id:9,
                        icon:"fa-solid fa-music",
                        subject: "Music", 
                        location: "Sharjah", 
                        price:110,
                        space:5
                    },
                    {
                        id:10,
                        icon:"fa-solid fa-book",
                        subject: "History", 
                        location: "Dubai", 
                        price:60,
                        space:5
                    },
                ],
                cart: [],
                total: 0,
                showProduct: false,
                order:{
                    firstName:"",
                    lastName:"",
                    address:"",
                    emirate:"",
                    phone:""
                },
                emirates:
                {
                    AUH:"Abu Dhabi",
                    DBX:"Dubai",
                    SHJ:"Sharjah",
                    AJM:"Ajman",
                    FJR:"Fujairah",
                    RAK:"Ras-Al-Khaimah",
                    UAQ:"Umm-Al-Quwain"
                },
                sortBy: "subject",
                orderBy: "asc",
                canOrder:false
            },
            methods:
            {
                add_cart: function(lesson)
                {
                    lesson.space-=1;
                    this.total+=lesson.price;
                    this.cart.push(lesson);
                },
                remove_cart: function(lesson,all=false)
                {
                    let quantity=1;
                    if (all) quantity=lesson.details.amount;

                    for(let i=0; i<quantity; i++)
                    {
                        let toRemove=this.cart.find(product => product.id===lesson.details.id);
                        let indexToRemove=this.cart.indexOf(toRemove);
                        this.cart.splice(indexToRemove,1);

                        let toUpdate=this.lessons.find(product => product.id===lesson.details.id);
                        toUpdate.space+=1;
                        
                        this.total-=toUpdate.price;
                    }
                    
                    if (this.cart.length===0) this.showProduct=false;
                },
                empty_cart: function()
                {
                    this.cart.forEach(item=>
                        {
                            let toUpdate=this.lessons.find(lesson => lesson.id===item.id);
                            toUpdate.space+=1;
                        }
                    );
                    this.cart=[];
                    this.total=0;
                    this.showProduct=false;
                },
                showCheckout:function()
                {
                    this.showProduct=!this.showProduct;
                },
                canCheckout:function()
                {
                    let flagged=false;
                    Object.keys(this.order).forEach(key=>
                        {
                            if (this.order[key]==="")
                            {
                                flagged=true;
                                return
                            }
                        }
                    );
                    this.canOrder=!flagged;
                },
                submitForm:function()
                {
                    alert("Form submitted");
                    this.cart=[];
                    this.showProduct=false;
                }
            },
            computed:
            {
                reorder:function()
                {
                    const sorts=((current,next)=>
                        {
                            let tempOrder=0;
                            if (current[this.sortBy]<next[this.sortBy])
                            {
                                this.orderBy==="asc" ? tempOrder=-1:tempOrder=1
                            }
                            else if (current[this.sortBy]>next[this.sortBy])
                            {
                                this.orderBy==="asc" ? tempOrder=1:tempOrder=-1
                            }
                            return tempOrder;
                        }
                    )
                    return this.lessons.sort(sorts);
                },
                cartItemCount:function()
                {
                    return this.cart.length;
                },
                cartShorten:function()
                {
                    let shortened = this.cart.reduce((acc, product) => {
                        amt=acc[product.subject] ? amt=acc[product.subject]['amount'] : 0;
                        amt+=1;
                        acc[product.subject] = 
                        {
                            id:product.id,
                            amount:amt,
                            location:product.location,
                            space:product.space,
                            price:product.price,
                            icon:product.icon
                        };
                        return acc;
                    }, {});

                    let convertArray = (dictionary) => {
                        return Object.entries(dictionary).map(([key, value]) => ({ "product": key, "details": value }));
                    };

                    return convertArray(shortened);
                },
                calculateTotal:function()
                {
                    return this.total;
                },
                checkoutCheck:function()
                {
                    return this.canOrder
                }
            }
        })
    </script>
</body>
</html>